:root{
  --palette6: #6E0D25;
  --palette7: #FFFFB3;
  --palette8: #DCAB6B;
  --palette9: #774E24;
  --palette10: #6A381F;
}

#main{
  background-color: var(--palette7);
  padding: 0.5em;
  color: var(--palette7);
}

header {
  text-align: center;
  background-color: var(--palette6);
  padding: 1em;
}

#img-div {
  max-width: 80%;
  margin: 1em auto 1em;
  display: block;
  text-align: center;
}

#image {
  max-width: 100%;
  max-height: 300px;
  margin: 0 0 1em;
  object-fit: cover;
}

#img-caption {
  color: var(--palette6);
}

#tribute-info {
  padding: 1em 0 0; 
  background-color: var(--palette6);
}

#tribute-info li{
  margin: 1em auto;
  max-width: 75%;
}

#tribute-info ul {
  padding: 0 0 1em;
  margin-bottom: 1em;
}

#quote-holder{
  border: 2px solid var(--palette6);
}

#signoff {
  border-top: 2px solid var(--palette6);
}

#quote-holder p {
  text-align: center;
  background-color: var(--palette8);
  padding: 0.7em;
  color: var(--palette10);
}

#quote-holder a {
  color: var(--palette6);
}