:root {
    --palette1: #001b2e;
    --palette2: #294c60;
    --palette3: #adb6c4;
    --palette4: #ffefd3;
    --palette5: #ffc49b;
}

* {
    margin: 0;
    padding: 0;
    border: 2px transparent var(--palette5);
}

/* Navigation Start */
.nav-flex-container {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    background-color: var(--palette1);
    border-bottom: 1px solid var(--palette5);
    z-index: 999;
}

.nav-flex-item {
    display: flex;
    align-items: center;
    justify-items: center;

}

.nav-flex-item a:hover {
    animation-name: highlight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.nav-flex-item a li {
    list-style: none;
}

.nav-flex-item a {
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--palette4);
}
/* Navigation End */


/* Welcome Start */
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--palette2);
}

.about h1{
    font-size: 5rem;
    color: var(--palette1);
}

.about p {
    font-size: 2rem;
    font-style: italic;
    color: var(--palette4);
    padding-top: 1rem;
    max-width: 75%;
}
/* Welcome End */


/*  Projects Start 
    These are for the home page: index.html
*/
.project-heading {
    text-align: center;
    padding: 8rem 0;
    font-size: 3rem;
    color: var(--palette1);
}

.project-holder {
    background-color: var(--palette3);
}

.project-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 1rem 25vw 3rem;
}

.project-grid-item {
    text-align: center;
    background-color: var(--palette2);
    border: solid 2px var(--palette1);
    max-height: 500px;
    width: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 20px var(--palette1);
}

.project-grid-item img {
    max-height: calc(500px - 6rem);
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.project-grid-item.project-1 {
    grid-column: 1 / -1;
}

.project-grid-item.project-6 {
    grid-column: 1 / 3;
}

.project-title,
.project-title:visited,
.project-title:hover,
.project-title:active {
    margin: 0.5rem;
    color: var(--palette4);
    font-size: 1.5rem;
}
/*This is for the actual projects that are on other pages*/
.real-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 1rem 25vw 3rem;
    font-size: 1.5rem;
}

.real-project-grid-item {
    background-color: var(--palette2);
    border: solid 2px var(--palette1);
    width: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 20px var(--palette1);
    padding: 1rem;
}

#title{
    text-align: center;
    color: var(--palette4);
}

#description{
    text-align: center;
    color: var(--palette4);
    margin-bottom: 1rem;
}

label,
input,
select {
    display: block;
}

input,
select,
.radio-end{
    margin: 0 0 2rem;
}

label,
.survey-form p{
    color: var(--palette4);
}

select{
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    padding-left: 0.5rem;
}

input {
    height: 2rem;
    width: calc(100% - 0.5rem);
    border-radius: 5px;
    padding-left: 0.5rem;
}

#submit {
    width: 100%;
    height: 2.5rem;
    background-color: var(--palette1);
    border: solid 1px var(--palette5);
    margin-top: 1rem;
    color: var(--palette4);
    font-size: 1.5rem;
}

#submit:hover {
    cursor: pointer;
}

.inline {
  display: inline ;
  width: auto;
  height: 1rem;
  margin: 0;
}

textarea {
  width: 100%;
  min-height: 200px;
  border-radius: 5px;
}
/* Projects End */

/* Contacts Start */
.contacts {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    background-color: var(--palette1);
    color: var(--palette4);
    text-align: center;
}

.smedia-icons{
    display: flex;
    min-height: 10rem;
    align-items: center ;

}

.smedia-icons a{
    font-size: 2rem;
    margin: 0 1rem;
}

.smedia-icons a,
.smedia-icons a:visited,
.smedia-icons a:hover,
.smedia-icons a:active {
    text-decoration: none;
    color: var(--palette4);
}

.smedia-icons i {
    transition: font-size 0.3s ease-out;
}

.smedia-icons i:hover {
    font-size: 3rem;
}

.contacts h2 {
    font-size: 3rem;
}

.contacts p {
    font-size: 2rem;
    font-style: italic;
}
/* Contacts End */

/* Footer Start */
footer section {
    background-color: var(--palette5);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    min-height: 5vh;
    border-top: 3px solid var(--palette3);
}

footer section * {
    padding: 0 1rem;
}
/* Footer End */

/* Animation code start */
@keyframes highlight {
    0% {background-color: transparent;} 
    30% {background-color: var(--palette4);
        color: #001b2e;}
    100% {background-color: var(--palette4);
        color: #001b2e;}
}

@keyframes enlarge {
    0% {} 
    30% {font-size: 5rem;}
    100% {font-size: 5rem;}
}
/* Animation code end */

@media only screen and (max-width: 600px) {

    .project-grid-container {
        grid-template-columns: 1fr;
        padding: 0 5vw 3rem;
    }

    .project-grid-item.project-1 {
        grid-column: 1 / 2;
    }

    .project-grid-item.project-6 {
        grid-column: 1 / 2;
    }

    .smedia-icons {
        flex-direction: column;
    }

    .smedia-icons a{
        margin: 1rem;
    }

    footer section {
        flex-direction: column;
        min-height: 10vh;
        justify-content: space-evenly;
    }

    .real-project-container {
        padding: 0 5vw 3rem;
    }

    .about p {
        max-width: 95%;
        text-align: left;
    }
}

/* No less than 600px, no greater than 900px */
@media (min-width:600px) and (max-width:1200px) {
    .real-project-container{
        padding: 0 10vw 3rem;
    }
}