@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

html {
    font-size: 16px;
    background-color: rgb(55 105 43 / 0.57);
}

body {
    margin: 5px auto 0;
    background-color: white;
    width: 75%;
    font-family: Helvetica;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border: solid 2px #7c2a2a;
}

.banner {
    background-color: #326725;
    border: solid 2px #7c2a2a;
    height: auto;
    color: white;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

.banner-description {
    text-align: center;
    padding: 0;
    margin: 0 0 0.5rem auto;
}

section, .sub-headings {
    margin: 0 auto;
    padding-top: 0;
}

section {
    margin: 0 auto;
    padding-top: 0;
    border-bottom: solid 2px #7c2a2a;
    padding-bottom: 1rem;
}

section:last-of-type {
    border-bottom: 0;
}

.hyperlink {
    font-weight: bold;
    color: #70b5f9;
    text-decoration: none;
}

.linkedin:hover {
    text-decoration: underline;
}

p {
    margin: 10px auto;
}

section:last-child {
    margin: 10px auto 0 !important;
}